In [1]:
%run "C:\Users\shiwei\Documents\ImageAnalysis3\required_files\Startup_py3.py"
sys.path.append(r"C:\Users\shiwei\Documents")

import ImageAnalysis3 as ia
%matplotlib notebook

from ImageAnalysis3 import *
print(os.getpid())

import h5py
from ImageAnalysis3.classes import _allowed_kwds
import ast

import pandas as pd

51896

In [2]:
import os
import scanpy as sc
import anndata as ad
import numpy as np
import pandas as pd

# 1. Load count data

In [3]:
data_folder = r'L:\Shiwei\DNA_MERFISH_analysis\Paired_tag\05.Paired-Tag_H3K27me3_DNA_filtered_matrix'

data_fname = os.path.join(data_folder, r'matrix.mtx')

In [4]:
Matrix = (scipy.io.mmread(data_fname))
B = Matrix.todense()
df = pd.DataFrame(B, range(1, B.shape[0] + 1), range(1, B.shape[1] + 1))
print(df.iloc[:5, :5])

   1  2  3  4  5
1  0  0  0  0  0
2  0  0  0  0  0
3  0  0  0  0  0
4  0  0  0  0  0
5  0  0  0  0  0

In [5]:
df

,1,2,3,4,5,6,7,8,9,10,...,6525,6526,6527,6528,6529,6530,6531,6532,6533,6534
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
452744,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
452745,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
452746,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
452747,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
452748,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
barcodes_fname = os.path.join(data_folder, r'barcodes.tsv')
barcodes = pd.read_csv(barcodes_fname, sep='\t', header=None)
barcodes.head()

             0
0  21:02:05:05
1  21:02:62:02
2  21:03:10:06
3  21:03:19:05
4  21:03:90:06

In [7]:
bins_fname = os.path.join(data_folder, r'bins.tsv')
loci_bins = pd.read_csv(bins_fname, sep='\t', header=None)
loci_bins.head()

                           0                          1
0    chr10:10000000-10005000    chr10:10000000-10005000
1  chr10:100000000-100005000  chr10:100000000-100005000
2  chr10:100005000-100010000  chr10:100005000-100010000
3  chr10:100010000-100015000  chr10:100010000-100015000
4  chr10:100015000-100020000  chr10:100015000-100020000

In [8]:
df.index = loci_bins[0].tolist()
df.columns = barcodes[0].tolist()
df.head()

,21:02:05:05,21:02:62:02,21:03:10:06,21:03:19:05,21:03:90:06,21:03:92:01,21:04:19:04,21:04:37:04,21:04:48:03,21:04:57:03,...,32:94:65:01,32:94:84:01,32:95:03:05,32:95:21:04,32:95:50:02,32:95:62:04,32:95:76:06,32:96:21:01,32:96:26:06,32:96:68:06
chr10:10000000-10005000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
chr10:100000000-100005000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
chr10:100005000-100010000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
chr10:100010000-100015000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
chr10:100015000-100020000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# 2. Load barcode metadata and add to obs and vars

In [9]:
meta_folder = r'L:\Shiwei\DNA_MERFISH_analysis\Paired_tag\GSE152020_Paired-Tag_RNA_filtered_matrix'
meta_fname = os.path.join(meta_folder, r'Nuclei_metaData.csv')
meta_df = pd.read_csv(meta_fname,sep='\t',)
#meta_df = meta_df.set_index('Cell_ID', drop=True)
meta_df

,Cell_ID,Tissue,Rep,Target,Total_RNA_Reads,Mapped_RNA_Reads,Uniquely_Mapped_RNA_Reads,UMI_RNA,nGene_RNA,Total_DNA_Reads,Mapped_DNA_Reads,Uniquely_Mapped_DNA_Reads,nFragments_DNA,Membership,Annotation,RNA_UMAP_1,RNA_UMAP_2,DNA_UMAP_1,DNA_UMAP_2
0,01:02:16:08,FC,2,H3K27ac,19425,18643,18211,5818,999,5426,5284,5093,1878,3,FC_ExNeu_L5,-5.547411,-6.336330,2.568175,-7.871347
1,01:02:19:07,FC,1,H3K27ac,6358,5891,5700,2043,557,2281,2225,2102,793,15,BR_NonNeu_OPC,0.422195,5.639957,-2.124980,3.471142
2,01:02:21:07,FC,1,H3K27ac,4726,4500,4399,1545,434,7735,7484,7066,2687,16,BR_NonNeu_Oligo_MOL,4.170502,6.648168,0.417700,12.119145
3,01:02:21:09,FC,3,H3K27ac,15582,14707,14363,4851,1002,17282,16824,15981,6374,3,FC_ExNeu_L5,-5.708712,-6.620135,2.829544,-7.538739
4,01:02:21:10,HC,1,H3K27ac,6385,5980,5861,2035,519,4987,4841,4634,1809,11,HC_ExNeu_DG,7.987172,0.324250,-0.711731,6.763884
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64844,56:96:79:12,HC,2,ATAC,6511,5211,4847,3424,726,22814,21542,17774,6529,18,BR_NonNeu_Astro_Myoc,-2.312723,13.020053,2.723131,-2.720942
64845,56:96:93:04,HC,1,ATAC,56864,51186,49159,32865,3503,25773,23399,20056,6497,12,BR_InNeu_CGE,-3.768880,3.848108,-0.863011,0.734578
64846,56:96:94:01,FC,1,ATAC,7444,5227,4181,3245,778,8004,7542,6501,2310,12,BR_InNeu_CGE,-3.697555,3.623461,-0.366686,-0.055119
64847,56:96:94:08,FC,2,ATAC,6488,4950,4280,3114,769,5002,4636,4004,1243,6,FC_ExNeu_CT,-6.174460,-2.583169,-2.036310,0.396569
64848,56:96:94:09,FC,2,ATAC,4733,3266,2784,2150,614,30969,28356,23556,7483,1,FC_ExNeu_L23,-3.312705,-7.258923,-1.211179,0.037257

In [10]:
print(np.unique(meta_df['Tissue']))
print(np.unique(meta_df['Annotation']))

sel_meta_df = meta_df[meta_df['Tissue']=='FC']
sel_class_list = ['BR_InNeu_CGE', 'BR_InNeu_Pvalb', 'BR_InNeu_Sst', 'BR_NonNeu_Astro_Myoc',
 'BR_NonNeu_Astro_Nnat', 'BR_NonNeu_Endothelial', 'BR_NonNeu_Microglia',
 'BR_NonNeu_OPC', 'BR_NonNeu_Oligo_MFOL', 'BR_NonNeu_Oligo_MOL',
 'FC_ExNeu_CT','FC_ExNeu_L23', 'FC_ExNeu_L4',
 'FC_ExNeu_L5', 'FC_ExNeu_NP', 'FC_ExNeu_PT' ]
sel_meta_df = sel_meta_df[sel_meta_df['Annotation'].isin(sel_class_list)]


sel_meta_df.set_index('Cell_ID', inplace=True)
sel_meta_df

['FC' 'HC']
['BR_InNeu_CGE' 'BR_InNeu_Pvalb' 'BR_InNeu_Sst' 'BR_NonNeu_Astro_Myoc'
 'BR_NonNeu_Astro_Nnat' 'BR_NonNeu_Endothelial' 'BR_NonNeu_Microglia'
 'BR_NonNeu_OPC' 'BR_NonNeu_Oligo_MFOL' 'BR_NonNeu_Oligo_MOL'
 'FC_ExNeu_CT' 'FC_ExNeu_Claustrum' 'FC_ExNeu_L23' 'FC_ExNeu_L4'
 'FC_ExNeu_L5' 'FC_ExNeu_NP' 'FC_ExNeu_PT' 'HC_ExNeu_CA1' 'HC_ExNeu_CA23'
 'HC_ExNeu_DG' 'HC_ExNeu_Subiculum' 'HC_NonNeu_Ependymal']

,Tissue,Rep,Target,Total_RNA_Reads,Mapped_RNA_Reads,Uniquely_Mapped_RNA_Reads,UMI_RNA,nGene_RNA,Total_DNA_Reads,Mapped_DNA_Reads,Uniquely_Mapped_DNA_Reads,nFragments_DNA,Membership,Annotation,RNA_UMAP_1,RNA_UMAP_2,DNA_UMAP_1,DNA_UMAP_2
Cell_ID,,,,,,,,,,,,,,,,,,
01:02:16:08,FC,2,H3K27ac,19425,18643,18211,5818,999,5426,5284,5093,1878,3,FC_ExNeu_L5,-5.547411,-6.336330,2.568175,-7.871347
01:02:19:07,FC,1,H3K27ac,6358,5891,5700,2043,557,2281,2225,2102,793,15,BR_NonNeu_OPC,0.422195,5.639957,-2.124980,3.471142
01:02:21:07,FC,1,H3K27ac,4726,4500,4399,1545,434,7735,7484,7066,2687,16,BR_NonNeu_Oligo_MOL,4.170502,6.648168,0.417700,12.119145
01:02:21:09,FC,3,H3K27ac,15582,14707,14363,4851,1002,17282,16824,15981,6374,3,FC_ExNeu_L5,-5.708712,-6.620135,2.829544,-7.538739
01:02:23:03,FC,3,H3K4me1,3222,3049,2951,1110,334,3375,3301,2975,1270,2,FC_ExNeu_L4,-3.835559,-4.175283,-1.671632,-1.405469
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56:96:75:02,FC,1,ATAC,10384,6742,5615,4508,1181,62678,56240,47062,15077,1,FC_ExNeu_L23,-3.768688,-7.927906,-2.477818,-0.465370
56:96:77:09,FC,2,ATAC,7457,5484,4655,3256,859,18263,16214,13868,4117,1,FC_ExNeu_L23,-3.436938,-6.947432,-3.156529,-1.221869
56:96:94:01,FC,1,ATAC,7444,5227,4181,3245,778,8004,7542,6501,2310,12,BR_InNeu_CGE,-3.697555,3.623461,-0.366686,-0.055119
56:96:94:08,FC,2,ATAC,6488,4950,4280,3114,769,5002,4636,4004,1243,6,FC_ExNeu_CT,-6.174460,-2.583169,-2.036310,0.396569
56:96:94:09,FC,2,ATAC,4733,3266,2784,2150,614,30969,28356,23556,7483,1,FC_ExNeu_L23,-3.312705,-7.258923,-1.211179,0.037257

In [11]:
print(np.unique(meta_df['Target']))
target_mode = 'H3K27me3'
sel_meta_df_histone = sel_meta_df[sel_meta_df['Target']==target_mode]
sel_meta_df_histone

['ATAC' 'H3K27ac' 'H3K27me3' 'H3K4me1' 'H3K4me3' 'H3K9me3']

,Tissue,Rep,Target,Total_RNA_Reads,Mapped_RNA_Reads,Uniquely_Mapped_RNA_Reads,UMI_RNA,nGene_RNA,Total_DNA_Reads,Mapped_DNA_Reads,Uniquely_Mapped_DNA_Reads,nFragments_DNA,Membership,Annotation,RNA_UMAP_1,RNA_UMAP_2,DNA_UMAP_1,DNA_UMAP_2
Cell_ID,,,,,,,,,,,,,,,,,,
21:02:62:02,FC,2,H3K27me3,16360,14318,13791,9044,1742,9941,6520,5644,2849,4,FC_ExNeu_PT,1.340968,-4.663569,-3.098365,-0.160327
21:03:92:01,FC,1,H3K27me3,9472,8103,7760,5164,1184,1231,1066,916,468,1,FC_ExNeu_L23,-4.253000,-6.983515,-4.358865,0.646642
21:04:48:03,FC,3,H3K27me3,6942,6112,5907,3902,871,3180,2218,2003,844,3,FC_ExNeu_L5,-5.296563,-6.457344,-4.045327,-0.765374
21:04:57:03,FC,3,H3K27me3,16106,14279,13829,9167,1748,4985,3633,3289,1730,3,FC_ExNeu_L5,-6.835471,-6.801487,-3.561590,-0.333771
21:04:66:02,FC,2,H3K27me3,28629,22927,22116,14514,2504,8722,3969,3488,1748,1,FC_ExNeu_L23,-2.758405,-8.285954,-3.426958,-1.334758
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32:94:45:02,FC,2,H3K27me3,5932,4979,4842,3706,977,2677,1660,1418,786,2,FC_ExNeu_L4,-4.796303,-6.003243,-3.955865,-0.705026
32:94:65:01,FC,1,H3K27me3,3873,3119,2940,2256,813,1330,918,734,545,18,BR_NonNeu_Astro_Myoc,-2.875614,13.093767,2.511580,1.776932
32:94:84:01,FC,1,H3K27me3,7957,6754,6451,4908,1420,1545,1165,912,678,13,BR_InNeu_Sst,-5.400948,3.396590,-5.799568,3.590047
32:95:50:02,FC,2,H3K27me3,18233,15859,15404,11606,2425,4660,1292,1051,747,4,FC_ExNeu_PT,1.124212,-4.712133,-1.090168,-1.106738
32:96:21:01,FC,1,H3K27me3,15306,12942,12369,9370,2126,2205,1798,1514,1065,2,FC_ExNeu_L4,-4.930097,-7.512732,-4.906144,1.816399

# 3. Convert selected obs to annData

In [12]:
ann_df = df.T 
del df # free memory
#ann_df.head()

# select the desired obs
sel_ann_df = ann_df.loc[sel_meta_df_histone.index]
del ann_df # free memory

sel_ann_df

,chr10:10000000-10005000,chr10:100000000-100005000,chr10:100005000-100010000,chr10:100010000-100015000,chr10:100015000-100020000,chr10:100020000-100025000,chr10:100025000-100030000,chr10:100030000-100035000,chr10:100035000-100040000,chr10:100040000-100045000,...,chrY:9885000-9890000,chrY:9895000-9900000,chrY:990000-995000,chrY:9900000-9905000,chrY:9915000-9920000,chrY:9945000-9950000,chrY:995000-1000000,chrY:9975000-9980000,chrY:9985000-9990000,chrY:9990000-9995000
Cell_ID,,,,,,,,,,,,,,,,,,,,,
21:02:62:02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21:03:92:01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21:04:48:03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21:04:57:03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21:04:66:02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32:94:45:02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32:94:65:01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32:94:84:01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32:95:50:02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32:96:21:01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## make annData

In [13]:
adata = ad.AnnData(sel_ann_df)
adata

C:\Users\shiwei\AppData\Local\Temp\2\ipykernel_51896\1105574869.py:1: FutureWarning: X.dtype being converted to np.float32 from int64. In the next version of anndata (0.9) conversion will not be automatic. Pass dtype explicitly to avoid this warning. Pass `AnnData(X, dtype=X.dtype, ...)` to get the future behavour.
  adata = ad.AnnData(sel_ann_df)

AnnData object with n_obs × n_vars = 3644 × 452748

## add obs

In [14]:
adata.obs = sel_meta_df_histone.copy(deep=True)
adata.obs.head()

,Tissue,Rep,Target,Total_RNA_Reads,Mapped_RNA_Reads,Uniquely_Mapped_RNA_Reads,UMI_RNA,nGene_RNA,Total_DNA_Reads,Mapped_DNA_Reads,Uniquely_Mapped_DNA_Reads,nFragments_DNA,Membership,Annotation,RNA_UMAP_1,RNA_UMAP_2,DNA_UMAP_1,DNA_UMAP_2
Cell_ID,,,,,,,,,,,,,,,,,,
21:02:62:02,FC,2,H3K27me3,16360,14318,13791,9044,1742,9941,6520,5644,2849,4,FC_ExNeu_PT,1.340968,-4.663569,-3.098365,-0.160327
21:03:92:01,FC,1,H3K27me3,9472,8103,7760,5164,1184,1231,1066,916,468,1,FC_ExNeu_L23,-4.253000,-6.983515,-4.358865,0.646642
21:04:48:03,FC,3,H3K27me3,6942,6112,5907,3902,871,3180,2218,2003,844,3,FC_ExNeu_L5,-5.296563,-6.457344,-4.045327,-0.765374
21:04:57:03,FC,3,H3K27me3,16106,14279,13829,9167,1748,4985,3633,3289,1730,3,FC_ExNeu_L5,-6.835471,-6.801487,-3.561590,-0.333771
21:04:66:02,FC,2,H3K27me3,28629,22927,22116,14514,2504,8722,3969,3488,1748,1,FC_ExNeu_L23,-2.758405,-8.285954,-3.426958,-1.334758

## add vars

In [15]:
loci_names = sel_ann_df.columns
loci_names = [i.replace(':','_').replace('-','_') for i in loci_names]
adata.var_names = loci_names
adata.var.head()

Empty DataFrame
Columns: []
Index: [chr10_10000000_10005000, chr10_100000000_100005000, chr10_100005000_100010000, chr10_100010000_100015000, chr10_100015000_100020000]

## use consistent cell labels

In [16]:
adata.obs['cluster'] =  adata.obs['Annotation']

celltype_rename_dict = {'BR_NonNeu_Endothelial':'Endo', 
                        'BR_NonNeu_Microglia':'Micro', 
                        'BR_NonNeu_Oligo_MFOL':'Oligo',
                        'BR_NonNeu_Oligo_MOL':'Oligo',
                        'BR_NonNeu_Astro_Myoc':'Astro',
                        'BR_NonNeu_Astro_Nnat':'Astro',
                        'BR_NonNeu_OPC':'OPC', 
                        'BR_InNeu_CGE':'CGE',
                        'BR_InNeu_Pvalb':'Pvalb',
                        'BR_InNeu_Sst':'Sst',
                        'FC_ExNeu_CT':'L6 CT',
                        'FC_ExNeu_L23':'L2/3 IT',
                        'FC_ExNeu_L4':'L4/5 IT',
                        'FC_ExNeu_L5':'L5 IT',
                        #'FC_ExNeu_L6':'L6 IT',
                        'FC_ExNeu_NP':'L5/6 NP',
                        'FC_ExNeu_PT':'L5 ET',}
new_class_label_dict = {'cluster':celltype_rename_dict}
adata.obs = adata.obs.replace(new_class_label_dict)

In [17]:
adata.obs

,Tissue,Rep,Target,Total_RNA_Reads,Mapped_RNA_Reads,Uniquely_Mapped_RNA_Reads,UMI_RNA,nGene_RNA,Total_DNA_Reads,Mapped_DNA_Reads,Uniquely_Mapped_DNA_Reads,nFragments_DNA,Membership,Annotation,RNA_UMAP_1,RNA_UMAP_2,DNA_UMAP_1,DNA_UMAP_2,cluster
Cell_ID,,,,,,,,,,,,,,,,,,,
21:02:62:02,FC,2,H3K27me3,16360,14318,13791,9044,1742,9941,6520,5644,2849,4,FC_ExNeu_PT,1.340968,-4.663569,-3.098365,-0.160327,L5 ET
21:03:92:01,FC,1,H3K27me3,9472,8103,7760,5164,1184,1231,1066,916,468,1,FC_ExNeu_L23,-4.253000,-6.983515,-4.358865,0.646642,L2/3 IT
21:04:48:03,FC,3,H3K27me3,6942,6112,5907,3902,871,3180,2218,2003,844,3,FC_ExNeu_L5,-5.296563,-6.457344,-4.045327,-0.765374,L5 IT
21:04:57:03,FC,3,H3K27me3,16106,14279,13829,9167,1748,4985,3633,3289,1730,3,FC_ExNeu_L5,-6.835471,-6.801487,-3.561590,-0.333771,L5 IT
21:04:66:02,FC,2,H3K27me3,28629,22927,22116,14514,2504,8722,3969,3488,1748,1,FC_ExNeu_L23,-2.758405,-8.285954,-3.426958,-1.334758,L2/3 IT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32:94:45:02,FC,2,H3K27me3,5932,4979,4842,3706,977,2677,1660,1418,786,2,FC_ExNeu_L4,-4.796303,-6.003243,-3.955865,-0.705026,L4/5 IT
32:94:65:01,FC,1,H3K27me3,3873,3119,2940,2256,813,1330,918,734,545,18,BR_NonNeu_Astro_Myoc,-2.875614,13.093767,2.511580,1.776932,Astro
32:94:84:01,FC,1,H3K27me3,7957,6754,6451,4908,1420,1545,1165,912,678,13,BR_InNeu_Sst,-5.400948,3.396590,-5.799568,3.590047,Sst
32:95:50:02,FC,2,H3K27me3,18233,15859,15404,11606,2425,4660,1292,1051,747,4,FC_ExNeu_PT,1.124212,-4.712133,-1.090168,-1.106738,L5 ET
32:96:21:01,FC,1,H3K27me3,15306,12942,12369,9370,2126,2205,1798,1514,1065,2,FC_ExNeu_L4,-4.930097,-7.512732,-4.906144,1.816399,L4/5 IT

## convert to sparse matrix

In [18]:
import scipy
adata.X = scipy.sparse.csr_matrix(adata.X)

In [19]:
type(adata.X)

scipy.sparse._csr.csr_matrix

In [20]:
#type(ad._core.views.SparseCSCView)
isinstance(type(adata.X), type(ad._core.views.SparseCSCView))

True

In [21]:
adata.X.toarray()[:5,:5]

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]], dtype=float32)

# 4. Save annData

In [22]:
output_folder = r'L:\Shiwei\DNA_MERFISH_analysis\Paired_tag\anndata'
#target_mode = 'H3K9me3'

In [23]:
adata.write(os.path.join(output_folder,f'FC_pairtag_{target_mode}.h5ad'))